<?xml version="1.0" encoding="UTF-8"?>
<arch:config xmlns:arch="http://architect.kodlabbet.net/xmlns">

	<!-- Application Meta Data -->
	<arch:application>
		<arch:name>Your Application</arch:name>
		<arch:version>1.0</arch:version>
		<arch:description>
			<![CDATA[Short application description.]]>
		</arch:description>
		<arch:keywords>
			<![CDATA[application,architect,framework]]>
		</arch:keywords>
	</arch:application>

	<!-- Configuration Variables -->
	<arch:vars>
		<arch:lang iso="en-US">en</arch:lang>
		<arch:charset>UTF-8</arch:charset>
	</arch:vars>

	<!-- Framework Constants -->
	<arch:constants>

		<!-- Environment Constant -->
		<!-- DEVELOPMENT, INTEGRATION or PRODUCTION. -->
		<arch:constant name="environment">DEVELOPMENT</arch:constant>

		<!-- Debug Constants -->
		<!-- Error reporting level and whether to display debug errors. -->
		<arch:constant name="debug_mode" type="bool">true</arch:constant>

		<!-- Router Settings -->
		<!-- Defines which router protocol to use, most commonly HTTP. -->
		<arch:constant name="router_protocol">HTTP</arch:constant>

		<!-- General Settings -->
		<!-- Date/Time, URI Rewrite and error handling settings. -->
		<arch:constant name="date_timezone">Europe/Stockholm</arch:constant>
		<arch:constant name="enable_uri_rewrite" type="bool">false</arch:constant>

		<!-- Cookie Settings -->
		<arch:constant name="cookies_enabled" type="bool">false</arch:constant>
		<arch:constant name="session_enabled" type="bool">false</arch:constant>

		<!-- Cache Constants -->
		<!-- Cache path accepts attribute value "setting" and value of "session.save_path". -->
		<arch:constant name="cache_enabled" type="bool">true</arch:constant>
		<arch:constant name="cache_save_path" type="path">cache/</arch:constant>
		<arch:constant name="cache_driver">File</arch:constant>
		<arch:constant name="cache_lifetime_views" type="int">1209600</arch:constant> <!-- 14 days -->
		<arch:constant name="cache_lifetime_queries" type="int">86400</arch:constant> <!-- 24 hours -->

		<!-- File Extensions -->
		<arch:constant name="file_extension">.php</arch:constant>
		<arch:constant name="file_cache_extension">.cache</arch:constant>

		<!-- Library Paths -->
		<arch:constant name="library_path" type="path">libs/</arch:constant>
		<arch:constant name="framework_path" type="path">libs/Architect/</arch:constant>

		<!-- Application Settings -->
		<arch:constant name="application_namespace">app</arch:constant>
		<arch:constant name="application_path_name">app</arch:constant>

		<!-- Application Paths -->
		<arch:constant name="controllers_path" type="path">app/Controllers/</arch:constant>
		<arch:constant name="models_path" type="path">app/Models/</arch:constant>
		<arch:constant name="views_path" type="path">app/Views/</arch:constant>
		<arch:constant name="actions_path" type="path">app/Actions/</arch:constant>
		<arch:constant name="components_path" type="path">app/Components/</arch:constant>
		<arch:constant name="internal_path" type="path">app/Components/Internal/</arch:constant>

		<!-- Public Paths -->
		<arch:constant name="public_path" type="path">public/</arch:constant>
		<arch:constant name="assets_path" type="path">public/assets/</arch:constant>
		<arch:constant name="uploads_path" type="path">public/uploads/</arch:constant>

	</arch:constants>

	<!-- Router Settings -->
	<arch:router>

		<!-- Router Settings -->
		<arch:settings>

			<!-- Default controller -->
			<arch:defaultController callback="index">Teapot</arch:defaultController>

			<!-- SSL Settings, accepts "allow", "enforce" or "restrict". -->
			<arch:ssl mode="allow" />

		</arch:settings>

		<!-- Custom Routes -->
		<arch:routes>

			<!-- Define your custom routes here. -->

		</arch:routes>

	</arch:router>

</arch:config>