/**
 *	Reset
 */

@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	line-height: 1;
	border: 0;}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, cite, code, dfn,
img, kbd, q, s, samp, small, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	font-style: normal;
	font-weight: normal;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu nav, section {
	display: block!important;}

body {
	font-size: 10px;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

abbr, abbr[title],
dfn, dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;}

a, a img {
	outline: none;}

del, ins, mark, code {
	padding: 0 5px 2px 5px;
	font-style: inherit;
	font-weight: inherit;
	-webkit-box-shadow: inset rgba(0, 0, 0, .05) 0 0 8px;
	-moz-box-shadow: inset rgba(0, 0, 0, .05) 0 0 8px;
	box-shadow: inset rgba(0, 0, 0, .05) 0 0 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;}

del {
	background: rgba(255, 184, 184, .6);
	text-decoration: line-through;}

ins {
	background: rgba(214, 242, 171, .6);}

mark {
	background: rgba(250, 254, 194, .6);}

code {
	background: rgba(212, 239, 255, .6);}

span.amp {
	font-family: Palatino, "Palatino Linotype", "Book Antiqua", serif;
	font-style: italic;}

pre, code, kbd, samp {
	font-family: monaco, "courier new", monospace;}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;}

q {
	quotes: none;}

ol, ul {
	list-style: none;}

table {
	border-collapse: separate;
	border-spacing: 0;}

caption, th, td {
	text-align: left;
	font-weight: normal;}

:focus,
input:focus,
button:focus {
	outline: none;}



/**
 *	Forms
 */

input[type="search"] {
	appearance: textfield;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;}

textarea {
	width: auto;}

button.button {
	margin: 0;
	padding: 0;
	position: relative;
	cursor: pointer;
	border: 0;}

button.button span {
	white-space: nowrap;
	position: relative;
	display: block;}

button.button::-moz-focus-inner {
	padding: 0;
	border: 0;}

* html button.button {
	width: auto;
	overflow: visible;}

* html button.button span {
	margin: 0 0 -1px 0;}



/**
 *	Clearfix
 */

.clearfix:after {
	height: 0;
	line-height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;}

.clearfix {
	display: inline-block;}

html[xmlns] .clearfix {
	display: block;}

* html .clearfix {
	height: 1%;}



/**
 *	Base
 */

body {
	background-color: #fff;}

div#wrapper {
	width: 960px;
	position: relative;
	z-index: 2;}

section, article {
	margin: 50px;}

p a {
	color: #3695c9;}

p a:hover {
	color: #333;}



/**
 *	Backdrop
 */

div#backdrop {
	font: bold 350px Rokkitt, helvetica, arial, sans-serif;
	color: #efefef;
	position: absolute;
	top: -70px;
	left: -30px;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	transform: rotate(5deg);
	z-index: 1;}



/**
 *	Header
 */

header {
	padding: 50px;
	padding-bottom: 0;
	position: relative;}

header h1, h3 {
	font: bold 50px Rokkitt, helvetica, arial, sans-serif;
	text-shadow: #fff 1px 1px 0;
	color: #252f4e;}

header h3 {
	margin: 0 0 -5px 1px;
	font-weight: 400;
	font-size: 26px;
	color: #0d3c61;}

body.exception h1 {
	color:#610d0f;}

body.exception h3 {
	color:#4e2525;}

body.error h1,
body.status h1 {
	color:#8e430b;}

body.error h3,
body.status h3 {
	color:#5d1e0b;}



/**
 *	Body
 */

article p {
	margin-bottom: 25px;
	font: 300 22px helvetica, arial, sans-serif;
	line-height: 140%;
	color: #555;}

article p strong {
	font-weight: 700;}

article p strong span {
	padding: 2px 4px;
	background: rgba(212, 239, 255, .8);
	font-weight: normal;
	-webkit-box-shadow: inset rgba(0, 0, 0, .05) 0 0 8px;
	-moz-box-shadow: inset rgba(0, 0, 0, .05) 0 0 8px;
	box-shadow: inset rgba(0, 0, 0, .05) 0 0 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;}

article p code {
	font: 300 20px monaco,"courier new",serif;
	letter-spacing: -1px;
	color: #248080;}



/**
 *	Overview and backtrace
 */

section.data,
section.backtrace {
	padding: 5px;
	background: rgba(0, 0, 0, .05);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;}

section.data table {
	background: #fff;
	width: 100%!important;
	display: inline-table;
	border-collapse: collapse;}

section.data table caption,
section.backtrace h4 {
	padding: 6px 6px 8px;
	font: 700 12px helvetica,arial,sans-serif;
	text-transform: uppercase;
	text-shadow: #fff 1px 1px 0;
	color: #666;}

section.data table thead th,
section.data table tbody td {
	border: #e0e0e0 1px solid;}

section.data table thead th {
	padding: 10px 12px;
	background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f3f3f3));
	background: -webkit-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 100%);
	font: 700 14px helvetica, arial, sans-serif;
	text-shadow: #fff 1px 1px 0;
	color: #666;}

section.data table tbody td {
	padding: 12px;
	padding-bottom: 10px;
	font: 14px helvetica, arial, sans-serif;
	color: #666;}

section.data table tbody td:first-child {
	width: 20%;
	font-weight: 700;
	font-size: 11px;
	text-transform: uppercase;
	color: #999;}

section.data table tbody tr:nth-child(2n+2) td {
	background: #f7f7f7;}

section.data table tbody tr:hover td {
	background: #e6f8ff;}

section.backtrace pre {
	margin: 0!important;
	margin-top: -4px;
	padding: 10px;
	background: #fff;
	font: 12px monaco,"courier new", monospace;
	color: #666;
	overflow: auto;
	border: #e0e0e0 1px solid;}