/**
 *	Reset
 */

@charset "UTF-8";



/**
 *	Rae
 */

div#rae-ui {
	background: #202020;
	width: 100%;
	height: 319px;
	border-top: rgba(0, 0, 0, .1) 1px solid;
	box-shadow: inset rgba(0, 0, 0, .2) 0 35px 10px;
	-moz-box-shadow: inset rgba(0, 0, 0, .2) 0 35px 10px;
	-webkit-box-shadow: inset rgba(0, 0, 0, .2) 0 35px 10px;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99999;}

div#rae-ui[data-collapsed] {
	margin-top: 35px;
	bottom: -282px;
	opacity: .6;}

div#rae-overview-wrapper,
div#rae-console-wrapper,
div#rae-constants-wrapper,
div#rae-benchmarks-wrapper,
div#rae-memory-wrapper,
div#rae-environment-wrapper,
div#rae-files-wrapper {
	display: none;}

div#rae-ui[data-active-tab="overview"] div#rae-overview-wrapper,
div#rae-ui[data-active-tab="console"] div#rae-console-wrapper,
div#rae-ui[data-active-tab="constants"] div#rae-constants-wrapper,
div#rae-ui[data-active-tab="benchmarks"] div#rae-benchmarks-wrapper,
div#rae-ui[data-active-tab="memory"] div#rae-memory-wrapper,
div#rae-ui[data-active-tab="environment"] div#rae-environment-wrapper,
div#rae-ui[data-active-tab="files"] div#rae-files-wrapper {
	display: block!important;}

div#rae-ui h4 a {
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .35) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, .35)));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .35) 100%);
	background-color: #444;
	height: 35px;
	font: 900 14px "Source Sans Pro", helvetica, arial, sans-serif;
	text-shadow: rgba(0, 0, 0, .4) 1px 1px 1px;
	text-transform: uppercase;
	text-decoration: none;
	text-indent: 10px;
	line-height: 34px;
	color: #fff;
	border-top: rgba(255, 255, 255, .25) 1px solid;
	border-bottom: rgba(0, 0, 0, .45) 1px solid;
	display: block;}

div#rae-ui h5 {
	padding: 20px;
	padding-bottom: 10px;
	font: 700 12px "Source Sans Pro", helvetica, arial, sans-serif;
	text-shadow: rgba(0, 0, 0, .4) 1px 1px 1px;
	text-transform: uppercase;
	color: #b3e691;}

div#rae-ui div.column {
	width: 25%;
	float: left;}

div#rae-ui div.column p {
	padding: 20px;
	padding-top: 0px;
	font: 400 16px "Source Sans Pro", helvetica, arial, sans-serif;
	line-height: 140%;
	color: #999;}

div#rae-ui div.column p strong {
	font-weight: 400;
	color: #ccc;}

div#rae-ui div.column p span {
	color: #b0dee7;}

div#rae-ui nav {
	height: 36px;
	border-left: rgba(0, 0, 0, .3) 1px solid;
	border-right: rgba(255, 255, 255, .05) 1px solid;
	position: absolute;
	left: 48px;
	top: 0;}

div#rae-ui nav li {
	float: left;}

div#rae-ui nav li a {
	padding: 0 14px;
	height: 36px;
	font: 600 12px "Source Sans Pro", helvetica, arial, sans-serif;
	text-shadow: rgba(0, 0, 0, .4) 1px 1px 1px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 35px;
	color: #999;
	display: inline-block;
	border-left: rgba(255, 255, 255, .05) 1px solid;
	border-right: rgba(0, 0, 0, .2) 1px solid;}

div#rae-ui nav li a:hover {
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .5) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, .2)), color-stop(100%, rgba(0, 0, 0, .5)));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .5) 100%);
	background-color: #4f4f4f;
	height: 35px;
	line-height: 34px;
	color: #fff;
	border-top: rgba(255, 255, 255, .25) 1px solid;}

div#rae-ui[data-active-tab="overview"] nav li a[href="#rae-overview"],
div#rae-ui[data-active-tab="console"] nav li a[href="#rae-console"],
div#rae-ui[data-active-tab="constants"] nav li a[href="#rae-constants"],
div#rae-ui[data-active-tab="benchmarks"] nav li a[href="#rae-benchmarks"],
div#rae-ui[data-active-tab="memory"] nav li a[href="#rae-memory"],
div#rae-ui[data-active-tab="environment"] nav li a[href="#rae-environment"],
div#rae-ui[data-active-tab="files"] nav li a[href="#rae-files"] {
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .7) 0, rgba(0, 0, 0, .5) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, .7)), color-stop(100%, rgba(0, 0, 0, .5)));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .7) 0, rgba(0, 0, 0, .5) 100%);
	background-color: #4f4f4f;
	color: #fff;}

div#rae-ui[data-active-tab="overview"] nav li a[href="#rae-overview"]:hover,
div#rae-ui[data-active-tab="console"] nav li a[href="#rae-console"]:hover,
div#rae-ui[data-active-tab="constants"] nav li a[href="#rae-constants"]:hover,
div#rae-ui[data-active-tab="benchmarks"] nav li a[href="#rae-benchmarks"]:hover,
div#rae-ui[data-active-tab="memory"] nav li a[href="#rae-memory"]:hover,
div#rae-ui[data-active-tab="environment"] nav li a[href="#rae-environment"]:hover,
div#rae-ui[data-active-tab="files"] nav li a[href="#rae-files"]:hover {
	border-top: none;
	height: 36px;
	line-height: 35px}

div#rae-ui nav li a span {
	margin-left: 8px;
	padding: 2px 8px 4px 8px;
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .7) 0, rgba(0, 0, 0, .6) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, .7)), color-stop(100%, rgba(0, 0, 0, .6)));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .7) 0, rgba(0, 0, 0, .6) 100%);
	background-color: #4f4f4f;
	font-weight: 600;
	color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: inline-block;
	box-shadow: rgba(255, 255, 255, .2) 0 0 2px;
	-moz-box-shadow: rgba(255, 255, 255, .2) 0 0 2px;
	-webkit-box-shadow: rgba(255, 255, 255, .2) 0 0 2px;}

div#rae-ui[data-active-tab="overview"] nav li a[href="#rae-overview"] span,
div#rae-ui[data-active-tab="console"] nav li a[href="#rae-console"] span,
div#rae-ui[data-active-tab="constants"] nav li a[href="#rae-constants"] span,
div#rae-ui[data-active-tab="benchmarks"] nav li a[href="#rae-benchmarks"] span,
div#rae-ui[data-active-tab="memory"] nav li a[href="#rae-memory"] span,
div#rae-ui[data-active-tab="environment"] nav li a[href="#rae-environment"] span,
div#rae-ui[data-active-tab="files"] nav li a[href="#rae-files"] span {
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, .6) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, .3)), color-stop(100%, rgba(0, 0, 0, .6)));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, .6) 100%);
	background-color: #797979;
	text-shadow: rgba(0, 0, 0, .4) -1px -1px 1px;
	box-shadow: rgba(0, 0, 0, .2) 0 0 2px;
	-moz-box-shadow: rgba(0, 0, 0, .2) 0 0 2px;
	-webkit-box-shadow: rgba(0, 0, 0, .2) 0 0 2px;}

div#rae-ui ul.header {
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .35) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, .35)));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .35) 100%);
	background-color: #333;
	height: 25px;
	color: #fff;
	border-top: rgba(255, 255, 255, .12) 1px solid;
	border-bottom: rgba(0, 0, 0, .45) 1px solid;
	display: block;}

div#rae-ui ul.header li {
	font: 900 10px "Source Sans Pro", helvetica, arial, sans-serif;
	text-shadow: rgba(0, 0, 0, .3) -1px -1px 0;
	text-transform: uppercase;
	text-decoration: none;
	color: #666;
	-webkit-box-shadow: inset rgba(0, 0, 0, .1) -1px -1px 0 0, inset rgba(255, 255, 255, .06) 1px -1px 0 0px;
	-box-box-shadow: inset rgba(0, 0, 0, .1) -1px -1px 0 0, inset rgba(255, 255, 255, .06) 1px -1px 0 0px;
	box-shadow: inset rgba(0, 0, 0, .1) -1px -1px 0 0, inset rgba(255, 255, 255, .06) 1px -1px 0 0px;}

div#rae-ui ul.header li,
div#rae-ui section ul li {
	line-height: 25px;
	float: left;}

div#rae-ui ul li.entry {
	width: 40%;
	text-indent: 10px;}

div#rae-ui ul li.file,
div#rae-ui ul li.data {
	width: 25%;
	text-indent: 10px;}

div#rae-ui ul li.line {
	width: 10%;
	text-align: center;}

div#rae-ui section ul li {
	padding: 6px 0;
	font: 13px monaco, "courier new", monospace;
	text-overflow: ellipsis;
	color: #ccc;
	overflow: hidden;
	white-space: nowrap;
	border-bottom: rgba(0, 0, 0, .1) 1px solid;}

div#rae-ui section ol li:nth-child(odd) ul li {
	background: #222;
	border-bottom: rgba(0, 0, 0, .13) 1px solid;}

div#rae-ui section ul li.data {
	color: #ece2c2;}

div#rae-ui section ul li.file {
	color: #b3e691;}

div#rae-ui section ul li.line {
	color: #b0dee7;}

div#rae-ui var {
	color: #b3e691;}

div#rae-ui section {
	margin: 0;
	padding: 0;
	height: 255px;
	overflow-y: auto;}