/**
 *	Reset
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	border: none;
	line-height: 1;}
	
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, cite, code, dfn,
img, kbd, q, s, samp, small, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	font-style: normal;
	font-weight: normal;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu nav, section { 
	display: block!important;}

a { font-style: inherit; }

body { font-size: 10px; }

hr {
	visibility: hidden;
	display: none;}

abbr, acronym {
	cursor: help;}

ol, ul {
	list-style: none;}

table {
	border-collapse: separate;
	border-spacing: 0;}

caption, th, td {
	text-align: left;
	font-weight: normal;}

blockquote, q {
	quotes: "" "";}
	
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";}

a, a img { outline: none; }

del {
	text-decoration: line-through;}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;}

:focus { outline: none; }



/**
 *	Buttons
 */

button.button {
	cursor: pointer;
	border: 0;}
	
button.button span {
	position: relative;
	display: block;
	white-space: nowrap;}

	/* Mozilla */

	button.button::-moz-focus-inner {
		padding: 0;
		border: 0;}
	
	/* IE */

	* html button.button { 
  	width: auto; 
  	overflow: visible;}
  
	* html button.button span { 
  	margin: 0 0 -1px 0;}



/**
 *	Clearfix
 */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;}

.clearfix { display: inline-block; }

html[xmlns] .clearfix { display: block; }

* html .clearfix { height: 1%; }