/**
 *	Reset
 */

@charset "UTF-8";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	line-height: 1;
	border: 0;}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, cite, code, dfn,
img, kbd, q, s, samp, small, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	font-style: normal;
	font-weight: normal;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu nav, section { 
	display: block!important;}

body {
	font-size: 10px;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

abbr, abbr[title],
dfn, dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;}

a, a img {
	outline: none;}

del {
	background: #ffd4d4;
	text-decoration: line-through;}

ins {
	background: #eeffd4;
	font-style: inherit;}

mark {
	background: #fffed3;
	font-style: inherit;}

span.amp {
	font-family: Palatino, "Palatino Linotype", "Book Antiqua", serif;
	font-style: italic;}

pre, code, kbd, samp {
	font-family: monaco, "courier new", monospace;}

pre {
	white-space: pre; 
	white-space: pre-wrap; 
	word-wrap: break-word;}
	
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;}

q {
	quotes: none;}

ol, ul {
	list-style: none;}

table {
	border-collapse: separate;
	border-spacing: 0;}

caption, th, td {
	text-align: left;
	font-weight: normal;}

:focus {
	outline: none;}



/**
 *	Forms
 */

input[type="search"] {
	appearance: textfield;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;}

textarea {
	width: auto;}

button.button {
	cursor: pointer;
	border: 0;}
	
button.button span {
	white-space: nowrap;
	position: relative;
	display: block;}

button.button::-moz-focus-inner {
	padding: 0;
	border: 0;}

* html button.button { 
	width: auto; 
	overflow: visible;}
  
* html button.button span { 
	margin: 0 0 -1px 0;}



/**
 *	Clearfix
 */

.clearfix:after {
	height: 0;
	line-height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;}

.clearfix {
	display: inline-block;}

html[xmlns] .clearfix {
	display: block;}

* html .clearfix {
	height: 1%;}